
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://github.com/River-unknown" class="nav-link px-2 text-body-secondary">Github</a></li>
      <li class="nav-item"><a href="https://leetcode.com/u/River-unknown/" class="nav-link px-2 text-body-secondary">Leetcode</a></li>
      <li class="nav-item"><a target="_blank" href="https://drive.google.com/file/d/1dK8ARGv-y_VZcwQlRbHwb23YEx3C623K/view?usp=drive_link" class="nav-link px-2 text-body-secondary">Resume</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/in/riveratreyee/" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2025 Atreyee</p>
  </footer>
</div>